<h1>Your Cart</h1>

<% cart.each do |item_id, qty| %>
  <% item = Item.find(item_id) %>
  <div class="well">
    <div class="row">

      <div class="span1">
        <% form_tag "" %>
      </div>
      <div class="span1">
        <%= image_tag(item.image_src) %>
      </div>

      <div class="span4">
        <%= link_to item.name, item_path(item) %>
      </div>

      <div class="span2">
        $<%= qty * item.price %>
      </div>
    </div>
  </div>

<% end %>