<div class="media">
  <div class="pull-left">
    <%= image_tag @item.image_src, :class => "media-object" %>
  </div>

  <div class="media-body">
      <h3 class="media-heading"><%= @item.name %></h3>
      <h4 class="price">Price: $<%= @item.price %></h4>

      <button class="btn" id="add-to-cart">Add to cart!</button>
  </div>
</div>


<script>
  $("#add-to-cart").click(function(){
    var url = window.location.href;
    var numbers = url.match(/\d+/g);
    var item_id = numbers[numbers.length - 1];

    var posting = $.post('/carts/cart_items.html', { id: item_id })
    posting.done(function (data) {
                   $('.sidebar').html(data);
                 });
  });

</script>